<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Campeonato</title>
</head>

<body>
    <h1>Criar Campeonato</h1>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>

            <form method="post" action="/campeonato/criar-campeonato">
                <label for="nome">Nome do Campeonato:</label>
                <input type="text" id="nome" name="nome" required>
                <br>

                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="4" required></textarea>
                <br>

                <label for="quantidade_times">Quantidade de Times:</label>
                <input type="number" id="quantidade_times" name="quantidade_times" required>
                <br>

                <label for="premiacao">Premiação:</label>
                <input type="text" id="premiacao" name="premiacao" required>
                <br>

                <label for="forma_competicao">Forma de Competição:</label>
                <input type="text" id="forma_competicao" name="forma_competicao" required>
                <br>

                <button type="submit">Criar Campeonato</button>
            </form>
</body>

</html>