<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Campeonatos</title>
</head>

<body>
    <h1>Lista de Campeonatos</h1>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>

            <form method="post" action="/campeonato/editar-campeonato">
                <label for="campeonato">Selecione um Campeonato:</label>
                <select id="campeonato" name="campeonato">
                    <% campeonato.forEach(campeonato=> { %>
                        <option value="<%= campeonato._id %>">
                            <%= campeonato.nome %>
                        </option>
                        <% }); %>
                </select>
                <button type="submit">Editar Campeonato</button>
            </form>
</body>

</html>