<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Arena Torneios</title>
  <link rel="shortcut icon" href="/logo.png">
  <link rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body style="background-color: #0d0d26;">
  <nav class="navbar navbar-expand-lg" style="background-color: #0c0c21;">
    <div class="container-fluid">
      <a class="navbar-brand" style="margin-left: 15px;" href="#">
        <img src="/logo.png" alt="Logo" width="68" height="71" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Contato</a>
          </li>
        </ul>
        <div class="grid gap-3">
          <span class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item text-light" style="margin-right: 28px;">
                Entrar </li>
              <li class="nav-item">
                <a class="text-light" style="margin-right: 22px;"> <b> Registrar </b></a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid d-flex flex-wrap justify-content-center my-4">
    <div class="container-fluid d-flex flex-wrap justify-content-center my-4 col-xl-6 align-items-center">
      <div class="text-light lh-1 col-md-7" style="font-size: 5rem;">

        <b>
          <p>ARENA</p>
          TORNEIOS
        </b><br><br>
        <div class="text-light fw-lighter" style="font-size: 20px ;">
          <p>Tranformando Organização em Vitória:</p>
          <p>Seu Campeonato, Nosso Gerenciamento!</p>

        </div>
      </div>
      <div class="col-md-4">
        <img src="/trofeu.png" alt="Sua Imagem">
      </div>
    </div>

    <div class="container text-light col-lg-3" style="margin-top: 40px; width: 420px; height: 620px; background-color:
       #161642; padding: 70px; ">
      <form action="/usuario/register" method="post">
        <legend style="margin-top: -25px; font-size: 38px;"><b>Registrar</b></legend>
        <hr style="opacity: 100%;"><br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nome Completo:</label>
          <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp" name="nome">
        </div><br>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        </div><br>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha:</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="senha">
        </div><br>
        <div class="d-grid gap-2 col-12 mx-auto">
          <button class="btn btn-warning" type="submit" style="color: #4d3601; --bs-btn-hover-bg: #A57300;">
            <b>Registrar</b></button>
        </div>
        <br>
        <p class="text-center" style="font-size: 13px;">Já possui uma conta?</p>

        <p class="text-center fs-5"><a href="" style="color: #ccf03b;"> Entrar</a></p>
      </form>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>